ul.child {
        display            : none;
        position           : absolute;
        min-width          : 200px;
        min-height         : 120%;
        box-shadow         : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        margin-inline-start: 10px;
        margin-inline-end  : 10px;
        right              : 0;
}

  .modal1, .modal2 {
    display   : none;
    position  : fixed;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%,-50%);
    background: #fff;
    width     : 320px;
    height    : 320px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    z-index   : 99;
    
    &.visible {
      display: block;
    }
  }
  
  .modal__header {
    color      : white;
    background : #333;
    line-height: 50px;
    text-align : center;
    position   : relative;
    height     : 50px;
    box-sizing : border-box;
    
    button {
      position       : absolute;
      top            : 0;
      right          : 0;
      text-decoration: none;
      color          : white;
      font-weight    : bold;
      display        : block;
      padding        : 0 20px;
      font-size      : 16px;
      background     : #555;
      height         : 100%;
    }
  }